<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppChinesePoetryAccumDetailExtMapper">

    <select id="selectAppChinesePoetryAccumDetailListByPSysId" parameterType="AppChinesePoetryAccumDetail" resultMap="com.ruoyi.app.mapper.AppChinesePoetryAccumDetailMapper.AppChinesePoetryAccumDetailResult">
        <include refid="com.ruoyi.app.mapper.AppChinesePoetryAccumDetailMapper.selectAppChinesePoetryAccumDetailVo"/>
        where p_sys_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by p_sys_id,inner_sort_no
    </select>

</mapper>