<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.AppEnglishLessonExtMapper">
    
    <resultMap type="AppEnglishLesson" id="AppEnglishLessonResult">
        <result property="id"    column="id"    />
        <result property="grade"    column="grade"    />
        <result property="term"    column="term"    />
        <result property="unit"    column="unit"    />
        <result property="word"    column="word"    />
        <result property="pronounce"    column="pronounce"    />
        <result property="chinese"    column="chinese"    />
        <result property="dataType"    column="data_type"    />
        <result property="sortNo"    column="sort_no"    />
    </resultMap>

    <sql id="selectAppEnglishLessonVo">
        select id, grade, term, unit, word, pronounce, chinese, data_type, sort_no from app_english_lesson
    </sql>

    <select id="selectAppEnglishLessonByWord" parameterType="String" resultMap="AppEnglishLessonResult">
        <include refid="selectAppEnglishLessonVo"/>
        where word = #{word}
    </select>

</mapper>